body {
	font-family: Arial;
}

.form-picker, .pane-picker, .list-picker {
	padding: 8px;
	border: 1px solid black;
	background-color: #cccccc;
	display: inline-block;
	cursor: pointer;
}

.selected {
	background-color: lightblue;
}

.pane {
	display: none;
}

#form-message {
	font-size: 24px;
	font-weight: bold;
	padding: 20px;
	display: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 5px;
}